<!--
  Generated template for the IdentityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Identity</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!rootIdentity?.hash">
    <button *ngIf="rootIdentity?.value == null" ion-button (click)="addIdentity()">Initiate</button>
    <button ion-button button (click)="log()">Log</button>
  </div>
  <div *ngIf="rootIdentity?.hash">
    <h2>{{ rootIdentity?.hash }}</h2>

    <p>Your identity is setup, so you can continue using the app.</p>
    <ion-list>
      <h3>EncryptionKeys: </h3>
      <ion-icon *ngIf=rootIdentity?.encryptionKeys.public name="checkmark"></ion-icon>
      <h3>SigningKeys: </h3>
      <ion-icon *ngIf=rootIdentity?.signingKeys.public name="checkmark"></ion-icon>
      <h3>EthereumKeys:</h3>
      <ion-icon *ngIf=rootIdentity?.ethereumKeys.privateKey name="checkmark"></ion-icon>
    </ion-list>
  </div>
</ion-content>